html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

:root{
  --btn-comment-color: #d1fae5;
  --btn-comment-bg: #10b981;
  --bg-danger: #fee2e2;
}

dialog {
  position: absolute;
  inset: 0;
  border: 0;
  box-shadow: 0 0 1em .1em rgba(0,128,0,.5);
  max-width: 70ch;


}

dialog::backdrop{
  background-color: rgba(7, 182, 7, 0.695);
  z-index: 100;
}

.spinner {
  border: 16px solid silver;
  border-top: 16px solid #fc3b3b;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  animation: spin 700ms linear infinite;

  display: grid;
  justify-items: center;
  align-items: center;

  position: absolute;
  z-index: 1001;
}
.spinner-layout {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  background: #d8dbde;

  display: grid;
  justify-items: center;
  align-items: center;

  overflow: hidden;
}

.btn-comment {
  background-color: var(--btn-comment-color);
  color: var(--btn-comment-bg);
}

.app-bg-danger {
  background: var(--bg-danger);
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
